
header{
  padding-bottom: 10px;
  background-color: #E4DBBC;
}

/*************
 *  Nav-Bar  *
 *************/

.nav-center{
  max-width: 960px;
}

.nav-item{
  font-size: 16px;
}

li .nav-item{
  padding-top: 20px;
}

/****************
 * Main content *
 ****************/
#collection-list,
#filter-bar{
  margin: 20px;
}

.checked-filters li{
  list-style-type: square;
  margin-left: 5px;
}

.menu-list{
  margin-left: 6px;
}

/**************
 * collection *
 **************/
.cardImage{
  text-align: center;
  background-color:#4B5048;
  padding-top: 10px;
  padding-bottom: 6px;
}

.collection-view{
  max-width: 1140px;
}

.heading{
  text-align: center;
}

.card-img{
  max-width: 200px;
  max-height:307px;
}

.card{
  background-color:#EBE9DC;
}


.collection-item{
  display: inline-block;
  margin: 15px;
}

.card{
  width: 280px;
}

.card-footer{
  border-top: 1px solid #555952;
}

.card-footer-item{
  color: black;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #555952;
}
