<!DOCTYPE html>
<html>
  <head>
    <title>Collection Form</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/vendor/bulmaMain.css">
      <!-- Vue -->
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <!-- Firebase -->
      <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
      <!-- VueFire -->
      <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
      <script src="js/main.js"></script>
  </head>
  <body>
    <main>
      <div class="form-container">
        <div class="middle">
          <div class="add-form" id="collectionForm">
                <h3 class="title is-3 form-title">Add Beer to Collection</h3>
                <label class="label">Brewery</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Ballast Point, Stone, Ale Smith" v-model="breweryName">
                </p>
                <label class="label">Name</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Sculpin, Victory At Sea" v-model="beerName">
                </p>
                <label class="label">Style</label>
                <p class="control">
                  <input class="input" type="text" placeholder="IPA, Stout, Pale Ale" v-model="beerStyle">
                </p>
                <!--<div class="control-label">-->
                    <!--<label class="label">Flavors</label>-->
                <!--</div>-->

                <!--<span class="tag is-dark"> Coffee <button class="delete is-small"></button> </span>-->
                <!--<span class="tag is-dark"> Vanilla <button class="delete is-small"></button></span>-->
                <!--<label class="label">Rating</label>-->
                <!--<p class="control">-->
                  <!--<span class="select">-->
                    <!--<select>-->
                      <!--<option></option>-->
                      <!--<option>5</option>-->
                      <!--<option>4</option>-->
                      <!--<option>3</option>-->
                      <!--<option>2</option>-->
                      <!--<option>1</option>-->
                    <!--</select>-->
                  <!--</span>-->
                <!--</p>-->
                <!--<p class="control">-->
                  <!--<label class="checkbox">-->
                    <!--Need more?-->
                    <!--&nbsp;-->
                    <!--<input type="checkbox">-->
                  <!--</label>-->
                <!--</p>-->
                <label class="label">Quantity</label>
                <p class="control">
                  <span class="select" v-model="quantity">
                    <select>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5+</option>
                    </select>
                  </span>
                </p>

                <div class="control is-grouped">
                  <p class="control">
                    <input class="button is-primary" type="submit" value="Submit">
                  </p>
                  <p class="control">
                    <button class="button is-link">Cancel</button>
                  </p>
                </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
