<!DOCTYPE html>
<html>

<head>
    <title>BeerDex - HomePage</title>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#C33430">

    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/vendor/bulmaMain.css">
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="js/config.js"></script>
</head>


<body>
    <header>
        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    <a href="index.html" class="nav-item">
                        <img src="img/tempIcon.png" alt="BeerDex Icon">
                        <br>BeerDex
                    </a>
                    <a href="collection.html" class="nav-item is-tab is-hidden-mobile is-active">Collection</a>
                    <a href="trades.html" class="nav-item is-tab is-hidden-mobile">Trades</a>
                    <a href="wishlist.html" class="nav-item is-tab is-hidden-mobile">Wish List</a>
                    <a href="stats.html" class="nav-item is-tab is-hidden-mobile">Statistics</a>
                </div>
                <span class="nav-toggle">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
              <div class="nav-right nav-menu">
                <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
                <a class="nav-item is-tab is-hidden-tablet">Features</a>
                <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
                <a class="nav-item is-tab is-hidden-tablet">About</a>

                <a class="nav-item is-tab" href="login.html">Log out</a>
            </div>
        </div>
    </nav>
</header>

<main id="collection-list" class="columns">
    <aside id="filter-bar" class="column is-2">
    </aside> 
    <section id="collection-view" class="section column is-8">
        <h2 class="title is-2 heading">My Collection</h2>
        <div id='collectionList'>
            <div v-if="collection.length > 0">
                <ul class="collection-list">
                    <li class="collection-item" v-for="beer in collection">
                        <div class="card">
                            <figure class="cardImage">
                                <img class="card-img" :src="beer.image" :alt="beer.imgDescription">
                            </figure>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><b>{{ beer.breweryName }}</b></p>
                                        <p class="subtitle is-6"><b>{{ beer.beerName }}</b> {{beer.beerStyle}}</p>
                                        <p><b>ABV</b> {{beer.ABV}}%</p>
                                        <p v-if="noedit === true"><b>Rating</b> {{beer.rating}}
                                        </p>
                                        <div v-else>
                                            <label class="label">Rating</label>
                                            <p class="control">
                                                <span class="select">
                                                    <select v-model="beer.rating">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </span>
                                            </p>
                                        </div>
                                        <p v-if="noedit === true"><b>Quantity</b> {{beer.quantity}}
                                        </p>
                                        <div v-else>
                                            <label class="label">Quantity</label>
                                            <p class="control">
                                                <span class="select">
                                                    <select v-model="beer.quantity">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>5+</option>
                                                    </select>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button class="delete is-large" @click="deleteBeerFromCollection(beer)"></button>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a v-if="noedit === true" class="card-footer-item" v-on:click="noedit = !noedit">Edit Beer</a>
                                <a v-else class="card-footer-item" @click="updateBeerInCollection(beer)">Update Beer</a>
                                <a class="card-footer-item" @click="tradeBeerFromCollection('addTradeModal',beer)">Add to Trades</a>
                            </footer>
                        </div>
                    </li>
                </ul>
            </div>
            <div v-else>
                You have nothing in your collection!
            </div>
        </div>
    </section>
</main>
<div class="modal" id="addTradeModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div id="addTradeForm">
            <section class="modal-card-body">
                <h3 class="title is-3 form-title">Add Request to All-Trades</h3>
                <label class="label" style="color:red" v-if="errorMessage.length >0"> {{errorMessage}}</label>
                <label class="label">Trade For</label>
                <p class="control">
                    <select v-model="tradeFor">
                        <option v-for="beer in database">
                          {{ beer.beerName }}
                      </option>
                  </select>
              </p>
              <label class="label">Trading From </label>
              <p class="control">
                <select v-model="tradeFrom" id="explicitTradeFrom"> 
                    <option></option>
                </select>
            </p>
        </section>
        <footer class="modal-card-foot">
            <input class="button is-success" type="submit" v-on:click="createTradeRequest">
            <button class="button" onclick="deactivateModal('addTradeModal')">Cancel</button>
        </footer>
    </div>
</div>
</div>
<!-- Use aside tag for filter sidebar -->
<script src="js/main.js"></script>
<script src="js/collections.js"></script>
<script src="js/trades.js"></script>
</body>

</html>
