<!DOCTYPE html>
<html>
  <head>
    <title>Collection Form</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/vendor/bulmaMain.css">
      <!-- Vue -->
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <!-- Firebase -->
      <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
      <!-- VueFire -->
      <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  </head>
  <body>
    <main>
      <div class="form-container">
        <div class="middle">
          <div class="add-form" id="addBeerForm">
              <h3 class="title is-3 form-title">Add Beer to Collection</h3>
              <div v-if="!image">
                  <h2>Select an image</h2>
                  <input type="file" @change="onFileChange">
              </div>
              <div v-else>
                  <img :src="image" />
                  <button @click="removeImage">Remove image</button>
              </div>
                <label class="label">Brewery</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Ballast Point, Stone, Ale Smith" v-model="breweryName">
                </p>
                <label class="label">Name</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Sculpin, Victory At Sea" v-model="beerName">
                </p>
                <label class="label">Style</label>
                <p class="control">
                  <input class="input" type="text" placeholder="IPA, Stout, Pale Ale" v-model="beerStyle">
                </p>
                <label class="label">Quantity</label>
                <p class="control">
                  <span class="select">
                    <select v-model="quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5+</option>
                    </select>
                  </span>
                </p>

                <div class="control is-grouped">
                  <p class="control">
                    <input class="button is-primary" type="submit" v-on:click="addBeerToCollection">
                  </p>
                  <p class="control">
                    <button class="button is-link">Cancel</button>
                  </p>
                </div>
          </div>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
