<!DOCTYPE html>
<html>

<head>
    <title>Login/Signup</title>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#C33430">
    <!--<link rel="stylesheet" href="css/vendor/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/vendor/bulmaMain.css">
    <script src="https://unpkg.com/vue@2.2.1"></script>
    <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="js/config.js"></script>
    <script src="js/image.js"></script>
</head>

<body>
    <header>
        <nav class="nav has-shadow" id="login-nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        <img src="tempIcon.png" alt="BeerDex Icon">
                        <br>BeerDex
                    </a>
                </div>
                <div id="login-form" class="nav-right">
                    <form class="nav-login-container" v-on:submit.prevent="checkUser">
                        <div class="nav-login">
                            <div class="control">
                              <label for="login" class="label label-login">Login</label>
                                <input v-model="user.username" type="email" name="login">
                            </div>
                        </div>
                        <div class="nav-login">
                            <div class="control">
                              <label for="login-pass" class="label label-login">Password</label>
                                <input v-model="user.password"type="password" name="login-pass">
                            </div>
                        </div>
                        <div class="nav-login">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    </header>
    <main id="login-main">
        <div class="columns">
            <section id="app-description" class="column is-half">
                <article>
                    <h3 class="subtitle is-3">Connect with other beer lovers and collect seasonal, rare beers.</h3>
                </article>
                <br>
                <section id="app-features">
                    <article>
                        <div class="app-feature-content">
                            <span class="icon is-large">
                                <i class="fa fa-beer"></i>
                            </span>
                            <p class="feature-detail"><b>Create your own collection</b> of beers.</p>
                        </div>
                    </article>
                    <article>
                        <div class="app-feature-content">
                            <span class="icon is-large">
                                <i class="fa fa-exchange"></i>
                            </span>
                            <p class="feature-detail"><b>Trade your collectables </b> amongst the community.</p>
                        </div>
                    </article>
                    <article>
                        <div class="app-feature-content">
                            <span class="icon is-large">
                                <i class="fa fa-search"></i>
                            </span>
                            <p class="feature-detail"><b>Search and learn</b> through a huge list of beers.</p>
                        </div>
                    </article>
                </section>
                <a href="stats.html"><button type="button" class="button is-info">View Beer Statistics</button></a>
            </section>
            <section id="signup-container" class="column is-half">
                <div id="signUp-cont" v-show="signUpFlag">
                    <h4 class="title is-3">Sign Up Now!</h4>
                    <br>
                    <form v-on:submit.prevent="createUser">
                        <div class="control">
                            <label for="first-name"></label>
                            <input name="first-name" v-model="newUser.firstName" class="input is-medium is-inline is-inline-half" type="text" placeholder="First Name">
                            <label for="last-name"></label>
                            <input name="last-name" v-model="newUser.lastName" class="input is-medium is-inline is-inline-half" type="text" placeholder="Last Name">
                        </div>
                        <div class="control">
                          <label for="email"></label>
                            <input name="email" v-model="newUser.email" class="input is-medium" type="email" placeholder="Email Address">
                        </div>
                        <div class="control">
                            <label for="confirm-email"></label>
                            <input name="confirm-email" v-on:change="emailConfirm" v-model="confirmEmail" class="input is-medium" type="email" placeholder="Confirm Email Address">
                            <p v-show="validEmail">Email Address does not match!</p>
                        </div>
                        <div class="control">
                            <label for="password"></label>
                            <input name="password" v-model="newUser.password" class="input is-medium" type="password" placeholder="New Password">
                        </div>
                        <!-- Do some computed thing here -->
                        <section id="birthday">
                            <label class="label">Birthday</label>
                            <div class="control">
                                <label for="birth-month"></label>
                                <input name="birth-month "v-model="newUser.birth.month" class="input is-medium is-inline" id="is-inline-third" type="text" placeholder="Month">
                                <label for="birth-day"></label>
                                <input name="birth-day" v-model="newUser.birth.day" class="input is-medium is-inline" id="is-inline-third" type="text" placeholder="Day">
                                <label for="first-name"></label>
                                <label for="birth-year"></label>
                                <input name="birth-year" v-on:change="validateAge" v-model="newUser.birth.year" class="input is-medium is-inline" id="is-inline-third" type="text" placeholder="Year">
                                <p v-show="validAge">Sorry, you must be 21+ to sign up! Drink Responsibility!</p>
                            </div>
                        </section>
                        <br>
                        <button class="button is-info" type="submit">Create Account</button>
                    </form>
                    <hr>
                    <button v-on:click="googleLogin" class="button is-danger is-focused" type="button">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        &nbsp; Continue with Google
                    </button>
            </section>
            </div>
    </main>

    <script src="js/signUp.js"></script>
    <script type="text/javascript" charset="utf-8" async defer>
        window.onload = setImgURL();
    </script>



</body>


</html>
